li:first-child {
  background-color: grey;
}

li:first-child{
    background-color:coral;
}

li:last-child{
    background-color: blueviolet;
}

li:nth-child(2n+1){
    background-color: magenta;
}

li:nth-child(2n){
    background-color:maroon
}